@page "/"

@using BookOfHeroes.Data
@inject HeroService HeroService

<ul>
    @foreach (var hero in heroes)
    {
        <li>
            <span class="badge">@hero.Id</span> @hero.Name
        </li>
    }
</ul>

<h3>@hero.Name.ToUpper() Details</h3>
<div><span>id: </span>@hero.Id</div>
<div>
    <label for="name">Hero name: </label>
    <input id="name" placeholder="name" @bind="@hero.Name">
</div>

@code {
    private Hero[] heroes;
    private Hero hero;

    protected override async Task OnInitializedAsync()
    {
        heroes = await HeroService.GetHeroesAsync();
        hero = heroes.First();
    }
}

